<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar primary-bg">
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
    <%= image_pack_tag('logo-d.png', class: 'logo') %>
  </a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
    </ul>
  </div>
</header>