$color-primary: #007bff;
$color-sec: #0f1316;
.primary-bg {
  background: $color-primary;
}
.sec-bg {
  background: $color-sec;
}
.footer {
  @extend .sec-bg;
  min-height: 60px;
}
.logo{
  max-height: 40px;
  max-width: 40px;
}